---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div id="main" class="bg-black min-h-screen bg-image">
    <main class="max-w-7xl mx-auto">
      <Header />
      <Hero />
    </main>
  </div>
</Layout>

<style>
  .bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      image-set(url("/assets/ny-wallpaper-mobile.webp") type("image/webp"));
  }
  @media (min-width: 640px) {
    .bg-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        image-set(url("/assets/ny-wallpaper-tablet.webp") type("image/webp"));
    }
  }
  @media (min-width: 1024px) {
    .bg-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        image-set(url("/assets/ny-wallpaper-desktop.webp") type("image/webp"));
    }
  }
</style>

<script>
  const main = document.getElementById("main");

  // setTimeout(() => {
  //   if (main) {
  //     main.classList.add("animated", "fadeIn");
  //   }
  // });
</script>
