<header class="full-width p-3">
  <nav class="flex justify-center gap-4 text-white">
    <a href="#"> Home </a>
    <a href="#"> Dropdown </a>
    <a href="#"> Left sidebar </a>
    <a href="#"> Right sidebar </a>
    <a href="#"> No sidebar </a>
  </nav>
</header>
